  <div class="main">
    <div class="main__container">
      <div class="main__content">
      <div class="main__img--container">
        <h1>About Us!</h1>
        <h2>Recipe Match Finder Influence</h2>
        <p>Our main goal with creating this website is to
          create an engine similar to the engine used for Tinder
          with the tradeoff of matching with your favorite recipe instead
          of matching with a girl. We want to create a fun experience for
          the user by using our engine to go through several of our recipes
          and match with their favorite recipe for a potential meal in the
          future!
        </p>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
  <script src="https://kit.fontawesome.com/ca87b5ac68.js" crossorigin="anonymous"></script>