  <!--Hero Section-->
  <div class="main">
    <div class="main__container">
      <div class="main__content">
        <h1>Meal Time Recipe Finder!</h1>
        <h2>Match With Your Favorite Food Recipe!</h2>
        <p>Reveal your favorite food recipe by using our<br>
          efficient recipe match finder!</p>
          <button class="main__btn"><a href="/recipe/0">Try it Out!</a></button>
      </div>
      <div class="main__img--container">
        <img src="images/pic1.svg"
        alt="pic" id="main__img" />
      </div>
    </div>
  </div>
<!-- Engine Section -->
  <script src="app.js"></script>
  <script src="https://kit.fontawesome.com/ca87b5ac68.js" crossorigin="anonymous"></script>